@page "/posts/{cat}"

<div class="posts-container">
    <div class="post-list">
        <PostListContainer Category="@Cat" />
    </div>
    <div class="sidebar">
        <Sidebar Category="@Cat" />
    </div>
</div>

@code {
    [Parameter]
    public string Cat { get; set; }
}
