@page "/posts/{cat}"

<div class="posts-container">
    <div class="post-list">
        <PostListContainer Category="@Cat" PostCount="@Info.PostCount"/>
    </div>
    <div class="sidebar">
        <Sidebar Category="@Cat" />
    </div>
</div>
