<div class="employee-container">
    <div class="ec-left">
        <div class="ecl-search">
            <EmployeeSearch />
        </div>
        <div class="ecl-search">
            <EmployeeDetail />
        </div>
    </div>
    <div class="ec-right">
        <Organigram />
    </div>
</div>