@using EmployeeInfo.Models

<div class="employee-container">
    <div class="ec-left">
        <div class="ecl-search">
            <EmployeeSearch CurrentEmployee="CurrentEmployee" EmployeeSelected="EmployeeFound" />
        </div>
        <div class="ecl-detail">
            <EmployeeDetail Employee="CurrentEmployee"/>
        </div>
    </div>
    <div class="ec-right">
        <Organigram />
    </div>
</div>

@code {

    public LdapEmployee CurrentEmployee { get; set; } = null;

    void EmployeeFound(LdapEmployee emp)
    {
        CurrentEmployee = emp;
    }
}