@*<ul class="nav">
    <li><a href="#">People finder</a></li>
    <li><a href="#">Betriebsrat</a></li>
    <li><a href="#">Zeiterfassung</a></li>
    <li><a href="#">Personalmanagement</a></li>
    <li><a href="#">BECOM FIT</a></li>
    <li><a href="#">Speisekarten</a></li>
</ul>*@
@*<div class="nav">
    <a href="#">People finder</a>
    <a href="#">Betriebsrat</a>
    <a href="#">Zeiterfassung</a>
    <a href="#">Personalmanagement</a>
    <a href="#">BECOM FIT</a>
    <a href="#">Speisekarten</a>
</div>*@
<div class="nav">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">People finder</NavLink>
    <NavLink class="nav-link" href="/old">PFinder old</NavLink>
    <NavLink class="nav-link" href="/posts/Betriebsrat">Betriebsrat</NavLink>
    <NavLink class="nav-link" href="/zerfassung">Zeiterfassung</NavLink>
    <NavLink class="nav-link" href="/posts/personalmanagement">Personalmanagement</NavLink>
    <NavLink class="nav-link" href="/posts/bfit">BECOM FIT</NavLink>
    <NavLink class="nav-link" href="/speisekarten">Speisekarten</NavLink>
</div>