<div class="@Classes">
    <label>@Label</label>
    <input type="text" @bind="InputText" />
</div>

@code {
    [Parameter]
    public string Label { get; set; } = "";

    private string _inputText = "";

    [Parameter]
    public string InputText
    {
        get
        {
            return _inputText;
        }
        set
        {
            if (value != _inputText)
            {
                _inputText = value;
                InputTextChanged.InvokeAsync(value);
            }
        }
    }

    [Parameter]
    public EventCallback<string> InputTextChanged { get; set; }

    [Parameter]
    public string Class { get; set; } = "";

    private string fixedClass = "item";

    private string Classes
    {
        get
        {
            return $"{fixedClass} {Class}";
        }
    }
}