<div class="cool-input">
    <label>
        <input required list="cool-input-list" value="@CurrentText" @oninput="inputChanged" />
        <span class="placeholder">@Placeholder</span>
        <i class="fa fa-user icon"></i>
        <datalist id="cool-input-list">
            @foreach (var r in SearchResult)
            {
                <option>@r</option>
            }
        </datalist>
    </label>
</div>
@code {
    [Parameter]
    public string Placeholder { get; set; }

    [Parameter]
    public string CurrentText { get; set; }

    [Parameter]
    public EventCallback<string> InputChanged { get; set; }

    [Parameter]
    public List<string> SearchResult { get; set; }

    [Parameter]
    public int DebounceTime { get; set; } = 300;

    private DateTime lastFired = default;

    private void inputChanged(ChangeEventArgs e)
    {
        if (string.IsNullOrEmpty(e.Value as string)) return;
        if (DateTime.Now.Subtract(lastFired) >= TimeSpan.FromMilliseconds(DebounceTime))
        {
            InputChanged.InvokeAsync(e.Value as string);
        }
    }
}