<div class="item">
    <label>@Label</label>
    <span>@Text</span>
</div>

@code {
    [Parameter]
    public string Label { get; set; } = "";

    [Parameter]
    public string Text { get; set; } = "";
}

