@import "../../iSy/wwwroot/css/sass/variables";

.posts-container {
    display: flex;
    flex-direction: row;
    height: 100%;

    .post-list {
        flex: 1;
        margin-right: 1%;
        background-color: $white;
        padding: 1%;
        overflow-y: scroll;

        .post-overview {
            border-bottom: 1px solid $lightgray;
            margin-top: 1%;

            .pv-category {
                display: flex;
                flex-direction: row;
            }

            .pv-title {


                h1 {
                    font-weight: bold;
                    color: $black;
                }
            }
        }

        .post-overview:first-child {
            margin-top: 0px;
        }

        .post-overview:nth-last-child(-n+2) {
            border-bottom: 0px;
        }

        .pv-author {
            color: $lightblue;
        }

        .pv-content {
            color: $black;
        }

        .paging-container {
            display: flex;
            flex-direction: row;
            justify-content: center;

            a {
                color: $lightblue;
            }
        }
    }

    .sidebar {
        width: 20%;
        background-color: $white;
        padding: 1%;

        ul {
            margin: 0px;
            margin-top: 5px;
            margin-bottom: 10px;
        }

        span {
            color: $lightblue;
            font-weight: bold;
        }
    }
}

.post-detail {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: $white;
    padding: 1%;
    overflow-y: scroll;

    .pd-category {
        display: flex;
        flex-direction: row;

        span {
            margin-right: 3px;
        }

        span:last-child {
            display: none;
        }
    }

    .pd-title {

        h1 {
            font-weight: bold;
            color: $black;
        }
    }

    .pd-author {
        color: $lightblue;
    }

    .pd-content {
        color: $black;
    }
}
