<div class="tr-info-container">
    <TimeRecordingsInfoItem Label="Eingeloggt als" Text="Michael Prattinger" />
    <TimeRecordingsInfoItem Label="Personalnummer" Text="5555" />
    <TimeRecordingsInfoItem Label="Urlaub" Text="13" />
    <TimeRecordingsInfoItem Label="Angemeldeter Urlaub" Text="0" />
    <TimeRecordingsInfoItem Label="Saldo" Text="28:44" />
    <TimeRecordingsInfoItem Label="Eintrittstag" Text="03.04.2018" />
    <TimeRecordingsInfoItem Label="Freizeitoption" Text="****" />
    <TimeRecordingsInfoItem Label="Planstelle" Text="5022 Johann Katona" />
    <TimeRecordingsInfoItem Label="Eingeloggt als" Text="Michael Prattinger" />
</div>

@code {

}
