<div class="search-container">
    <input class="search" placeholder="Suchen" @bind="SearchText" @bind:event="oninput" @onkeypress="searchPostsKey" spellcheck="false"/>
    <img src="/assets/search_blue.png" @onclick="search" />
</div>

@code {

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    public string SearchText { get; set; }

    void searchPostsKey(KeyboardEventArgs e)
    {
        if (e.Key != "Enter") return;
        search();
    }

    void search()
    {
        if (string.IsNullOrEmpty(SearchText)) return;
                
        NavigationManager.NavigateTo($"/search/{SearchText}");
    }
}