.tr-checkins-container {
    grid-area: checkins;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-right: 2%;
    margin-bottom: 2%;
    padding: 2%;

    table {
        width: 50%;
        margin-top: 2%;
        font-size: 0.8em;
    }

    span {
        margin-top: 2%;
    }
}
