.tr-list-container {
    grid-area: recordings;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-left: 1%;
    padding: 1%;
    overflow: auto;

    table {
        margin-top: 2%;
        font-size: 0.9em;
    }

    span {
        margin-top: 2%
    }
}
