.tr-dateselector-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .tr-dateselector-container .trd-item {
    display: flex;
    flex-direction: column; }

trdc-single {
  justify-content: left; }
