.tr-list-container {
  grid-area: recordings;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-left: 1%;
  padding: 2%;
  overflow: auto; }
  .tr-list-container table {
    margin-top: 2%;
    font-size: 0.9em; }
  .tr-list-container span {
    margin-top: 2%; }
