.tr-info-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: white;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 20px; }
