<div class="tr-calendar-container">
    <TimeRecordingsTitle Title="Kalendar" />
    <div class="tr-c-control">
        <TimeRecordingsMonthSelector />
    </div>
    <Calendar Month="12" Year="2020" />
</div>
