.tr-dateselector-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }
  .tr-dateselector-container .trd-item {
    display: flex;
    flex-direction: column;
    margin-right: 3%; }

trdc-single {
  justify-content: left; }
