<div class="time-recordings-container">
    <div class="row">
        <TimeRecordingsInfo />
        <TimeRecordingsList />
        <TimeRecordingsPresenceStatus />
    </div>
    <div class="row">
        <TimeRecordingsCheckins />
        <TimeRecordingsCalendar />
    </div>
</div>