.tr-presence-container {
  grid-area: presence;
  display: flex;
  flex-direction: column;
  background-color: white;
  /*margin-right: 2%;*/
  margin-bottom: 2%;
  padding: 2%;
  justify-content: space-between;
  overflow: auto; }
  .tr-presence-container .trp-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-right: 2%; }
    .tr-presence-container .trp-info .trpi-search {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .tr-presence-container .trp-info .trpi-search span {
        width: 45%;
        font-size: 0.7em; }
    .tr-presence-container .trp-info .trp-result {
      width: 100%;
      height: 100%;
      overflow: auto;
      margin-top: 2%; }
      .tr-presence-container .trp-info .trp-result table {
        width: 100%;
        font-size: 0.8em; }
        .tr-presence-container .trp-info .trp-result table td {
          width: 40%; }

.trpr-ab {
  background-color: red;
  color: white; }

.trpr-an {
  background-color: darkgreen;
  color: white; }
