<div class="tr-checkins-container">
    <TimeRecordingsTitle Title="Saldo" />
    <TimeRecordingsDateSelector IsSingleDate="true" @bind-From="From" />
    @if (Checkins != null)
    {
        <table>
            <thead>
                <tr>
                    <th>Zeitpunkt</th>
                    <th>Art</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var checkin in Checkins)
                {
                    <tr>
                        <td>@checkin.CheckinTime.ToShortTimeString()</td>
                        <td>@(string.IsNullOrEmpty(checkin.AbsenceType) ? "-" : checkin.AbsenceType)</td>
                        <td>@checkin.Type</td>
                    </tr>
                }
                
            </tbody>
        </table>
    }
    else
    {
        <span>Keine Daten gefunden</span>
    }
    </div>
