.employee-details {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .employee-details .ed-row {
    display: flex;
    flex-direction: row; }
    .employee-details .ed-row .ed-pic img {
      max-height: 120px; }
    .employee-details .ed-row .ed-info {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      margin-top: 10px; }
      .employee-details .ed-row .ed-info .edi-name {
        font-size: 1.5rem;
        font-weight: bold; }
      .employee-details .ed-row .ed-info .edi-jtitle {
        font-size: 1rem; }
    .employee-details .ed-row .ed-info2 {
      display: flex;
      flex-direction: column;
      margin-top: 10px; }
      .employee-details .ed-row .ed-info2 .edi2-row {
        display: flex;
        flex-direction: row; }
        .employee-details .ed-row .ed-info2 .edi2-row .edi2-label {
          margin-right: 10px; }
        .employee-details .ed-row .ed-info2 .edi2-row .edi2-text {
          font-weight: bold; }

.org-chart {
  border: 1px solid black; }

.employee-container {
  display: flex;
  flex-direction: row;
  height: 100%; }
  .employee-container .ec-left {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: white;
    padding: 20px;
    overflow: auto; }
    .employee-container .ec-left .ecl-detail {
      flex: 1; }
  .employee-container .ec-right {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    flex: 1;
    background-color: white;
    padding: 20px; }
