@import "sass/emp-search";
@import "sass/emp-detail";
@import "sass/org-chart";

.employee-container {
    display: flex;
    flex-direction: row;
    height: 100%;

    .ec-left {
        display: flex;
        flex-direction: column;
        width: 30%;
        background-color: white;
        padding: 1%;
        overflow: auto;
        height: 100%;

        .ecl-search {
            height: 30%;
        }

        .ecl-detail {
            flex: 1;
            height: 70%;
        }
    }

    .ec-right {
        display: flex;
        flex-direction: column;
        margin-left: 1%;
        flex: 1;
        background-color: white;
        padding: 1%;
    }
}