.ot-empbox-container {
  margin: 1%;
  width: 23%;
  height: 180px; }
  .ot-empbox-container .ot-empbox {
    border: 1px solid black;
    padding: 1%; }
    .ot-empbox-container .ot-empbox .row .name-col {
      width: 80%; }
      .ot-empbox-container .ot-empbox .row .name-col div {
        font-size: 0.7em; }
    .ot-empbox-container .ot-empbox .row .pic-col {
      width: 20%; }
      .ot-empbox-container .ot-empbox .row .pic-col img {
        clip-path: circle(60px at center);
        height: 105px;
        max-width: 100%; }
  .ot-empbox-container .ot-current {
    background-color: lightblue; }
