.o-tree {
    display: flex;
    flex-direction: column;
    width: 100%;

    .row {
        width: 100%;
        justify-content: center;
    }

    .emp-row {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
}
