<div class="post-info-container">
    <div class="pic-recent">
        <span>Aktuelle Beiträge</span>
        <ul>
            @foreach(var recent in Info.RecentPosts)
            {
                <li>@recent.Title</li>
            }
        </ul>
    </div>
    <div class="pic-archives">
        <span>Archiv</span>
        <Archive Archives="@Info.Archives" />
    </div>
    <div class="pic-categories">
        <span>Kategorien</span>
        <ul>
            @foreach (var cat in Info.Categories)
            {
                <li><NavLink class="nav-link" href="@cat.Link">@cat.Category</NavLink></li>
            }
        </ul>
    </div>
</div>