@import "fa/fontawesome.scss";
@import "fa/solid.scss";
@import "fa/brands.scss";
@import "sass/variables";
@import "sass/top";
@import "sass/weatherlist";
@import "sass/search";
@import "sass/login";

$fa-font-path: "../webfonts";

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $body-color;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    font-weight: 400;
}

html, body {
    width: 100%;
    height: 100vh;
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    line-height: $line-height-base;
    color: $body-color;
    text-align: left; // 3
    background-color: $body-bg; // 2
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;


    .row {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .center {
        margin: 1%;
        flex: 1;
        overflow: auto;
    }
}