.top {
  background-color: #fff;
  border-bottom: 3px solid #1E6EB4;
  /*.nav {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: 10px;
        margin-bottom: 10px;

        li {
            display: inline;
            margin-left: 20px;
            margin-right: 20px;
            font-size: 1.3rem;

            a:hover, a:focus {
                color: $lightblue;
            }
        }
    }*/ }
  .top .logo {
    margin-top: 10px;
    margin-left: 10px; }
    .top .logo img {
      height: 80px; }
    .top .logo img:last-of-type {
      height: 70px;
      margin-left: 30px; }
  .top .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: flex-start;
    width: 80%; }
    .top .nav a {
      /*margin-left: 20px;
            margin-right: 20px;*/
      width: 15%;
      min-width: 180px;
      font-size: 1.3rem;
      text-align: center; }
    .top .nav a:hover, .top .nav a:focus, .top .nav .active {
      color: #3CAADC;
      font-weight: bold; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #8C8C8C; }

h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 400; }

html, body {
  width: 100%;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8C8C8C;
  text-align: left;
  background-color: #B2B2B2; }

body {
  margin: 0;
  padding: 0;
  height: 100vh; }

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000; }

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem; }

.main {
  height: 100vh;
  display: flex;
  flex-direction: column; }
  .main .row {
    display: flex;
    flex-direction: row; }
  .main .center {
    margin: 10px;
    background-color: #fff;
    flex: 1;
    padding: 10px;
    overflow: auto; }
